extends layout

include ./mixins/party_window
include ./mixins/enemy_window
include ./mixins/chat_window
include ./mixins/turn_wheel
include ./mixins/vendor_scripts

block css
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  p Ch. 1: Episode 1 #{title}
  #wrapper3
    #stage
    #wrapper2
      #wrapper1
        +party_window
        +enemy_window
      +chat_window
  div
    +turn_wheel
  

block scripts
  +vendor_scripts
  script var socket = io.connect();
  
  script(src="/javascripts/chat.js")
  script(src="/javascripts/party.js")
  script(src="/javascripts/team2.js")
  script(src='/javascripts/input/pinput.js')
  script(src='/javascripts/pubsub.js')
  script(src='/javascripts/board/game.js')
  script(src="/javascripts/battle.js")
  script(src='/javascripts/enemy/basic_opponent.js')
  script(src='/javascripts/turn_wheel.js')
  
  
  script(src='/javascripts/board/stage.js')
  script(src='/javascripts/preloader.js')