/* chat css */
#chat_window{
    border: solid 1px #cbcbcb;
    margin-left: 10px;
    padding: 20px;
}
#message_body{
    height: 100px; overflow-y: auto;
}

#message_body ul{
    margin: 0;
}

#chat_window li{
    list-style: none;
}

