body {
  font: 14px "Inconsolata", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper2{
  display: flex;
  flex-direction: column;
  height: 448px;
}

#wrapper1{
  padding: 20px;
  display: flex;
}

#wrapper2 ul{
  margin: 0;
  list-style: none;
}
#wrapper1 ul{
  width: 100px;
}

#wrapper1 div{
  width: 50%;
}

#wrapper3{
  display: flex;
}

#turn_wheel ul{
  display: flex;
}

#turn_wheel li{
  list-style: none;
  padding: 10px;
}

#activePawn {
  height: 120px;
  width: 400px;
  border: solid 1px grey;
}

#activePawn .top {
  height: 50px;
}

#message_body .victory {
  color: green;
}
#message_body .enemy_attack {
  color: red;
}