mixin enemy_window()
    #enemy_window
        ul(v-if='spirits.length') enemy:
            li(v-for='spirit in spirits')
                span {{spirit.name}}
                span  ({{spirit.hp}}/{{spirit.max_hp}})