mixin turn_wheel()
    #turn_wheel
        ul(v-if='pawns.length')
            #activePawn
                .top 
                    h3(v-if="activePawn.team == 'team2'") ENEMY
                    span {{activePawn.name}}
                    span.hidden {{activePawn.stats}}
                .bottom
                    div
                        .title abilities:
                        div(v-if="activePawn.team == 'team2'") {{activePawn.abilities}}
                        div#spell_wrapper(v-if="activePawn.team == 'player'")
                                button.spell_btn(onclick="PubSub.publish('GAME STATE', 'Targetting Mode');spellActivate('#spell0')" v-for='(ability,index) in activePawn.abilities' v-bind:id='"spell" + index') {{ability}}
            #pawnLineup
                span next
                ul
                    li(v-for='pawn in pawns') {{pawn.name}}