mixin vendor_scripts()
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src= 'https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js')
    script(src="/socket.io/socket.io.js")